@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Lexend', Tahoma, sans-serif;
    background-image: linear-gradient(to top, #5ee7df, #b490ca 100%);
    background-attachment: fixed;
    max-width: 75em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
html {
    padding: 0.6em;
}

img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.products-grid {
    margin: 0.62em;
    display: grid;
    grid-gap: 0.9em;
    grid-template-columns: repeat(auto-fill, minmax(15.5em, 1fr));
}
.products-grid{
    padding: 0.9em;
}
.products-grid > li{
    line-height: 1.8em;
    text-align: center;
}
/*********************************/
.products-grid-item__price{
    font-size: 20px;
    color: #60E1DE;
    font-weight: 600;
}
.products-grid-item {
    display: -webkit-box;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #FFFFFF;
}
.products-grid-item__description {
    -webkit-box-flex: 1;
            flex-grow: 1;
}
.products-grid {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(15.5em, 1fr));
}
.products-grid-item {
    border-radius: 10px;
    list-style: none;
    padding: 0.3em;
    min-height: 18.7em;
    box-shadow: 1px 2px 5px #000000;
}
.products-grid-item > :not(:last-child) {
    margin-bottom: 0.3em;
}
/*******************************/
button.button-whatsapp{
    display:inline-block;
    cursor:pointer;
    padding:0.3em 0.6em;
    text-decoration:none;
}
